<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<%= link_to "PETadoption", root_path, class: 'navbar-brand' %>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right" >
				<li><%= link_to t('layout.signup'), new_usuario_path, class: 'btn btn-danger navbar-btn' %></li>
			</ul>
			<ul class="nav navbar-nav navbar-right" >
				<li><%= link_to t('layout.signin'), new_usuario_sessions_path, class: 'btn btn-danger navbar-btn' %></li>
			</ul>
		</div>
	</div>
</nav>