<div class="col-sm-offset-4 col-sm-8">
	<h3><%= t '.title' %></h3>
</div>

<div class="container">
	<div class="col-sm-offset-5 col-sm-2">
		<ul class="list-group">
			<% @animals.each do |animal| %>
			<li class="list-group-item">
                <%= link_to animal.name, animal %>
			</li>
			<% end %>
		</ul>
	</div>
</div>
