<div class="col-sm-offset-4 col-sm-4">
	<h2><%= t '.title', animal_name: @animal.name %></h2>
</div>

<div class="col-sm-offset-4 col-sm-4">
<ul class="list-group">
    <div>
        <% if @animal.picture.url != nil %>
            <img src="<%= @animal.picture.url %>" class="img-circle img-responsive" />
        <% end %><br />
    </div>
	<li class="btn">Espécie: 
		<% if @animal.specie == "D" %>
			Cachorro
		<% else %>
			Gato
	    <% end %>
</ul>
</div>

<div class="col-sm-offset-4 col-sm-4">
    <% if belongs_to_user(@animal) %>
	   <%= link_to t('.edit'), edit_animal_path(@animal), class: 'btn btn-primary' %>
    <% end %>
    <%= link_to t('links.back'), root_path, class: 'btn btn-success'  %>
</div>